<header>
  <div class="leftPanel">
    <div class="imgContainer">
      <img src="VIEWFLOW.png" alt="viewFlow" class="imgViewFlow" />
    </div>
    <div class="linkSection">
      <a routerLink="/series">Serie Tv</a>
      <a routerLink="/movies">Film</a>
    </div>
  </div>

  <div class="centerPanel">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Cerca..." />
  </div>
  <div class="rightPanel">
    <i class="fa-solid fa-user-astronaut"></i>
  </div>
</header>
